.Follow
  &__text
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #171717;
  &__list
    display flex
    justify-content space-between
    align-items center
    padding 40px 20px
    margin-bottom 100px
  &__item
    width 296px
    height 296px
    margin-right 20px
  &__item:last-child
    margin-right 0
  &__pic
    width 100%
