.footer
  &__wrapper
    display flex
    justify-content center
    flex-direction: column
    max-width 1170px
  &__logo
    height 32px
    margin-bottom 60px
  &__menu
    display flex
    justify-content center
    margin-bottom 30px
  &__menuItem
    font-family: PT Sans;
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 18px
    color: #666666
    margin-right 20px
    transition .5s
  &__menuItem:hover
      color #D7B982
  &__social
    display flex
    justify-content center
    align-items center
    margin-bottom 40px
  &__socialItem
    display flex
    justify-content center
    align-items center
    width 34px
    height 34px
    border-radius: 50%
    border: 1px solid #E5E5E5
    margin-right 20px
  &__socialIcon
    height 15px
  &__copyright
    font-family: PT Sans
    font-style: normal
    font-weight: normal
    font-size: 14px
    color: #666666
    text-align center
    padding-top 30px
    padding-bottom 30px
    border-top 1px solid #E5E5E5

