.Header
  &__top
    padding 34px 80px
    display flex
    align-items center
    justify-content space-between
  &__main
    background center center / cover url('../img/header_main_bg.jpg')
    padding-top 490px
    padding-bottom 60px
    padding-left 360px
  &__topText
    font-family: PT Sans
    font-style: normal
    font-weight: normal
    font-size: 14px
    text-transform: uppercase
    color: #FFFFFF
    margin-bottom 4px
  &__title
    font-family PT Serif
    font-style normal
    font-weight bold
    font-size 40px
    color #FFFFFF
    margin-bottom 60px
  &__bottom
    display flex
    font-family PT Serif
    font-style normal
    font-weight normal
    font-size 14px
    line-height 18px
  &__info
    padding-right 10px
    color #FFFFFF
    & span
      color #B4B4B4
    & a
      color #ffffff
      &:hover
        color #ffff22

.wrapper
  max-width 1170px
  margin 0 auto
.mainContent__wrapper
  display flex
  justify-content space-between
.main
  display flex
  flex-wrap: wrap
