.Menu
  display flex
  justify-content space-between
  &_footer &__link
    font-family: PT Sans;
  &__link
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #171717;
    margin-right 34px
    transition: .5s
    &:hover
      color: #C9A96E;
    &:last-child
      margin-right 0
