mixin Menu(className = '')
  nav.Menu(class=className)
    a.Menu__link(href="#") Home
    a.Menu__link(href="#") Recipes
    a.Menu__link(href="#") Article
    a.Menu__link(href="#") Contact
    a.Menu__link(href="#") Purchase
