-
  const posts = [
    {
      img: './img/post1.jpg',
      tag: 'Tourism',
      title: 'One of Saturn’s largest rings may be newer than anyone',
      date: 'June 6, 2019 ',
      author: '<span>By</span> Rickie Baroch',
      description: ''
     },
     {
      img: './img/post2.jpg',
      tag: 'sport',
      title: 'One of Saturn’s largest rings may be newer than anyone',
      date: 'June 6, 2019 ',
      author: '<span>By</span> Rickie Baroch',
      description: ''
     },
     {
      img: './img/post3.jpg',
      tag: 'fashion',
      title: 'One of Saturn’s largest rings may be newer than anyone',
      date: 'June 6, 2019 ',
      author: '<span>By</span> Rickie Baroch',
      description: ''
     },
     {
      img: './img/post1.jpg',
      tag: 'clothes',
      title: 'One of Saturn’s largest rings may be newer than anyone',
      date: 'June 6, 2019 ',
      author: '<span>By</span> Rickie Baroch',
      description: ''
     },
     {
      img: './img/post2.jpg',
      tag: 'clothes',
      title: 'One of Saturn’s largest rings may be newer than anyone',
      date: 'June 6, 2019 ',
      author: '<span>By</span> Rickie Baroch',
      description: ''
     },
     {
      img: './img/post3.jpg',
      tag: 'fashion',
      title: 'One of Saturn’s largest rings may be newer than anyone',
      date: 'June 6, 2019 ',
      author: '<span>By</span> Rickie Baroch',
      description: ''
     },
     {
      img: './img/post4.jpg',
      tag: 'Summer',
      title: 'One of Saturn’s largest rings may be newer than anyone',
      date: 'June 6, 2019 ',
      author: '<span>By</span> Rickie Baroch',
      description: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem'
     },
     {
      img: './img/post2.jpg',
      tag: 'Autumn',
      title: 'One of Saturn’s largest rings may be newer than anyone',
      date: 'June 6, 2019 ',
      author: '<span>By</span> Rickie Baroch',
      description: ''
     },
     {
      img: './img/post3.jpg',
      tag: 'clothes',
      title: 'One of Saturn’s largest rings may be newer than anyone',
      date: 'June 6, 2019 ',
      author: '<span>By</span> Rickie Baroch',
      description: ''
     },
     {
      img: './img/post1.jpg',
      tag: 'summer',
      title: 'One of Saturn’s largest rings may be newer than anyone',
      date: 'June 6, 2019 ',
      author: '<span>By</span> Rickie Baroch',
      description: ''
     },
     {
      img: './img/post2.jpg',
      tag: 'summer',
      title: 'One of Saturn’s largest rings may be newer than anyone',
      date: 'June 6, 2019 ',
      author: '<span>By</span> Rickie Baroch',
      description: ''
     }
  ]
